# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env.development
.env.preview
.env.production
.env

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# Claude / BMad cache
.claude/
.bmad/
CLAUDE.md

# Misc
.npm/
.bash_history
.bash_logout
.bash_profile
.bashrc
log.log
.cursor/
.gemini/
.local/
familyhub/
